In [ ]:
inputs['astro']

In [56]:
#!/usr/bin/python

# SET I/O
inputs = {'astro' : 'C:/Users/Nathan/Dropbox/GitHub/astro/inputs'}
outputs = {'astro' : 'C:/Users/Nathan/Dropbox/GitHub/astro/outputs'}

# LIBRARIES
import os
import time
import datetime as dt
import numpy as np
import matplotlib as matplotlib
import matplotlib.pyplot as plt 
import pandas as pd 
import matplotlib.dates as mdates
from matplotlib.dates import date2num, num2date
from matplotlib import ticker
from pandas import DataFrame, Series, ExcelWriter
from datetime import datetime
from matplotlib.backends.backend_pdf import PdfPages
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, \
     AnnotationBbox
from matplotlib.cbook import get_sample_data
from matplotlib.ticker import FuncFormatter
pd.options.mode.chained_assignment = None

# SCRIPT SUMMARY
print("\n\n\n######################################################\n")
if '__file__' in globals():
    print("CURRENT SCRIPT:\n" + str(os.path.realpath(__file__)) + "\n")
print("INPUT FOLDERS:")
for key in inputs:
    print(inputs[key])
print("\nOUTPUT FOLDERS:")
for key in outputs:
    print(outputs[key])
print("\n######################################################\n")

# PARAMS
difference_from_utc_standard = -8
filename = 'Sunrise Sunset-2015.txt'
year = 2015
firstdata = 9
maxdays = 31
start = dt.datetime(year,1,1,0,0)
columns = ['period','month','day','event','rawtime','min','hour','time','test']

## NOTE: Input files must be named in the format: name + "-" + date("YYYY-MM-DD")
# FIND OPPORTUNITY DATA
os.chdir(inputs['astro'])

# Using the newer with construct to close the file automatically.
with open(filename) as f:
    data = f.readlines()

# cut off extra crap
raw = data[firstdata:firstdata+maxdays]
    
test = raw

data = pd.DataFrame(columns=columns)
temp = pd.DataFrame([[dt.datetime(year,1,1),0,0,'a','a',0,0,dt.datetime(year,1,1,0,0),'a']], columns=columns)

start_space = [4,5, #jan
               6,5, #feb
               6,5, #mar
               6,5, #apr
               6,5, #may
               6,5, #jun
               6,5, #jul
               6,5, #aug
               6,5, #sep
               6,5, #oct
               6,5, #nov
               6,5] #dec

events = ['01_r','01_s',
          '02_r','02_s',
          '03_r','03_s',
          '04_r','04_s',
          '05_r','05_s',
          '06_r','06_s',
          '07_r','07_s',
          '08_r','08_s',
          '09_r','09_s',
          '10_r','10_s',
          '11_r','11_s',
          '12_r','12_s']


for i in range(0,len(test)):
    # find day
    start = 0
    end = 2
    temp['day'] = raw[i][start:end]
    # find times
    for j in range(0,len(events)):
        temp['month'] = events[j].split("_")[0]
        temp['event'] = events[j].split("_")[1]
        start += start_space[j]
        end = start + 4
        temp['rawtime'] = raw[i][start:end]
        temp['period'] = temp['month'] + '_' +  temp['day']
        data = data.append(temp, ignore_index=True)

for i in range(0,len(data)):
    data['test'][i] = data['rawtime'][i].count(' ')
        
#remove days that don't exist
data = data[(data['test'] < 1)].reset_index(drop=True)

for i in range(0,len(data)):
    data['hour'][i] = data['rawtime'][i][0:2]
    data['min'][i] = data['rawtime'][i][2:4]
    data['time'][i] = dt.datetime(year,1,2,int(data['hour'][i]),int(data['min'][i]))
    data['period'][i] = dt.datetime(year,int(data['month'][i]),int(data['day'][i]))

s_rise = data[data['event'] == 'r'].sort('period').reset_index(drop=True)
s_set = data[data['event'] == 's'].sort('period').reset_index(drop=True)

for i in range(0,len(s_rise['time'])):
    s_rise['time'][i] = s_rise['time'][i] + dt.timedelta(hours = difference_from_utc_standard)
    s_rise['time'][i] = s_rise['time'][i].replace(day=1)
    s_set['time'][i] = s_set['time'][i] + dt.timedelta(hours = difference_from_utc_standard)
    s_set['time'][i] = s_set['time'][i].replace(day=1)

######################################################

INPUT FOLDERS:
C:/Users/Nathan/Dropbox/GitHub/astro/inputs

OUTPUT FOLDERS:
C:/Users/Nathan/Dropbox/GitHub/astro/outputs

######################################################

In [85]:
os.chdir(outputs['astro'])

#PLOTTING
# Set up figure
edgecolor='None'
linewidth=5
sun_area = 500
plt.style.use('ggplot')
matplotlib.rc('xtick', labelsize=8) 
matplotlib.rc('ytick', labelsize=8) 
fig, ax = plt.subplots(nrows = 1, ncols = 1, figsize=(13,9))

xr = list(pd.to_datetime(s_rise['period']))
sr = list(pd.to_datetime(s_rise['time']))
xs = list(pd.to_datetime(s_set['period']))
ss = list(pd.to_datetime(s_set['time']))

bottom = dt.datetime(year,1,1,0,0)
top = dt.datetime(year,1,2,0,0)
start = dt.datetime(year,1,1,0,0)
end = dt.datetime(year+1,1,1,0,0)
now = dt.datetime.now()

#sunrise
ax.plot(xr,sr, color = 'orange', label='sunrise', linewidth = linewidth)
ax.fill_between(xr,bottom,sr, facecolor = '#00001F', edgecolor = edgecolor)

#sunset
ax.plot(xs,ss, color = 'purple', label='sunset', linewidth = linewidth)
ax.fill_between(xs,ss,top, facecolor = '#00001F', edgecolor = edgecolor)

#daytime
ax.fill_between(xs,sr,ss, facecolor = '#3399FF', edgecolor = edgecolor)

#today
ax.axvline(x=dt.datetime.now(), linewidth=linewidth, ls = '--', color='k', label = 'today', alpha = .5, zorder=998)

curr_hour = now.hour
curr_min = now.minute

ax.scatter(now, dt.datetime(year,1,1,curr_hour,curr_min), s=sun_area, c='#FFCC00', alpha=1, zorder=999, label = 'sun location')



# Style Customization
ax.set_title("Astronomical time for " + "today " + "in Woodland, WA" , fontsize=18)
ax.set_ylabel("Time", fontsize=8)
ax.set_xlabel("Date", fontsize=8)
frame = lg.get_frame()
frame.set_alpha(.7)
ax.xaxis.set_major_locator(mdates.MonthLocator())
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b-%Y'))
ax.tick_params( axis='both', which ='both', bottom='off', top ='off', left='off', right='off')
ax.set_ylim([bottom, top])
ax.set_xlim([start, end])

plt.savefig('current-astro-time')
plt.close(fig)

In [57]:
s_rise

,period,month,day,event,rawtime,min,hour,time,test
0,2015-01-01 00:00:00,01,01,r,1551,51,15,2015-01-01 07:51:00,0
1,2015-01-02 00:00:00,01,02,r,1551,51,15,2015-01-01 07:51:00,0
2,2015-01-03 00:00:00,01,03,r,1551,51,15,2015-01-01 07:51:00,0
3,2015-01-04 00:00:00,01,04,r,1551,51,15,2015-01-01 07:51:00,0
4,2015-01-05 00:00:00,01,05,r,1551,51,15,2015-01-01 07:51:00,0
5,2015-01-06 00:00:00,01,06,r,1551,51,15,2015-01-01 07:51:00,0
6,2015-01-07 00:00:00,01,07,r,1550,50,15,2015-01-01 07:50:00,0
7,2015-01-08 00:00:00,01,08,r,1550,50,15,2015-01-01 07:50:00,0
8,2015-01-09 00:00:00,01,09,r,1550,50,15,2015-01-01 07:50:00,0
9,2015-01-10 00:00:00,01,10,r,1550,50,15,2015-01-01 07:50:00,0
10,2015-01-11 00:00:00,01,11,r,1549,49,15,2015-01-01 07:49:00,0
11,2015-01-12 00:00:00,01,12,r,1549,49,15,2015-01-01 07:49:00,0
12,2015-01-13 00:00:00,01,13,r,1548,48,15,2015-01-01 07:48:00,0
13,2015-01-14 00:00:00,01,14,r,1548,48,15,2015-01-01 07:48:00,0
14,2015-01-15 00:00:00,01,15,r,1547,47,15,2015-01-01 07:47:00,0
15,2015-01-16 00:00:00,01,16,r,1547,47,15,2015-01-01 07:47:00,0
16,2015-01-17 00:00:00,01,17,r,1546,46,15,2015-01-01 07:46:00,0
17,2015-01-18 00:00:00,01,18,r,1545,45,15,2015-01-01 07:45:00,0
18,2015-01-19 00:00:00,01,19,r,1545,45,15,2015-01-01 07:45:00,0
19,2015-01-20 00:00:00,01,20,r,1544,44,15,2015-01-01 07:44:00,0
20,2015-01-21 00:00:00,01,21,r,1543,43,15,2015-01-01 07:43:00,0
21,2015-01-22 00:00:00,01,22,r,1542,42,15,2015-01-01 07:42:00,0
22,2015-01-23 00:00:00,01,23,r,1541,41,15,2015-01-01 07:41:00,0
23,2015-01-24 00:00:00,01,24,r,1540,40,15,2015-01-01 07:40:00,0
24,2015-01-25 00:00:00,01,25,r,1539,39,15,2015-01-01 07:39:00,0
25,2015-01-26 00:00:00,01,26,r,1538,38,15,2015-01-01 07:38:00,0
26,2015-01-27 00:00:00,01,27,r,1537,37,15,2015-01-01 07:37:00,0
27,2015-01-28 00:00:00,01,28,r,1536,36,15,2015-01-01 07:36:00,0
28,2015-01-29 00:00:00,01,29,r,1535,35,15,2015-01-01 07:35:00,0
29,2015-01-30 00:00:00,01,30,r,1534,34,15,2015-01-01 07:34:00,0
...,...,...,...,...,...,...,...,...,...
335,2015-12-02 00:00:00,12,02,r,1532,32,15,2015-01-01 07:32:00,0
336,2015-12-03 00:00:00,12,03,r,1533,33,15,2015-01-01 07:33:00,0
337,2015-12-04 00:00:00,12,04,r,1534,34,15,2015-01-01 07:34:00,0
338,2015-12-05 00:00:00,12,05,r,1535,35,15,2015-01-01 07:35:00,0
339,2015-12-06 00:00:00,12,06,r,1536,36,15,2015-01-01 07:36:00,0
340,2015-12-07 00:00:00,12,07,r,1537,37,15,2015-01-01 07:37:00,0
341,2015-12-08 00:00:00,12,08,r,1538,38,15,2015-01-01 07:38:00,0
342,2015-12-09 00:00:00,12,09,r,1539,39,15,2015-01-01 07:39:00,0
343,2015-12-10 00:00:00,12,10,r,1540,40,15,2015-01-01 07:40:00,0
344,2015-12-11 00:00:00,12,11,r,1541,41,15,2015-01-01 07:41:00,0
345,2015-12-12 00:00:00,12,12,r,1542,42,15,2015-01-01 07:42:00,0
346,2015-12-13 00:00:00,12,13,r,1543,43,15,2015-01-01 07:43:00,0
347,2015-12-14 00:00:00,12,14,r,1543,43,15,2015-01-01 07:43:00,0
348,2015-12-15 00:00:00,12,15,r,1544,44,15,2015-01-01 07:44:00,0
349,2015-12-16 00:00:00,12,16,r,1545,45,15,2015-01-01 07:45:00,0
350,2015-12-17 00:00:00,12,17,r,1546,46,15,2015-01-01 07:46:00,0
351,2015-12-18 00:00:00,12,18,r,1546,46,15,2015-01-01 07:46:00,0
352,2015-12-19 00:00:00,12,19,r,1547,47,15,2015-01-01 07:47:00,0
353,2015-12-20 00:00:00,12,20,r,1547,47,15,2015-01-01 07:47:00,0
354,2015-12-21 00:00:00,12,21,r,1548,48,15,2015-01-01 07:48:00,0
355,2015-12-22 00:00:00,12,22,r,1548,48,15,2015-01-01 07:48:00,0
356,2015-12-23 00:00:00,12,23,r,1549,49,15,2015-01-01 07:49:00,0
357,2015-12-24 00:00:00,12,24,r,1549,49,15,2015-01-01 07:49:00,0
358,2015-12-25 00:00:00,12,25,r,1550,50,15,2015-01-01 07:50:00,0
359,2015-12-26 00:00:00,12,26,r,1550,50,15,2015-01-01 07:50:00,0
360,2015-12-27 00:00:00,12,27,r,1550,50,15,2015-01-01 07:50:00,0
361,2015-12-28 00:00:00,12,28,r,1551,51,15,2015-01-01 07:51:00,0
362,2015-12-29 00:00:00,12,29,r,1551,51,15,2015-01-01 07:51:00,0
363,2015-12-30 00:00:00,12,30,r,1551,51,15,2015-01-01 07:51:00,0
364,2015-12-31 00:00:00,12,31,r,1551,51,15,2015-01-01 07:51:00,0